@tailwind base;
@tailwind components;
@tailwind utilities;

// TODO: Add to utilities
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin-left: 10px;
}

// FIXME: Do not  work on firefox
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
